# Template:
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# This repo-specific:
.vscode

build/*
hartebeest/build/*

config/eth-config.json
config/local-config.json
logs/post-all-conf.json

*.log
*.txt

dumps/*.txt
dumps/dumps-1/*.txt
dumps/dumps-2/*.txt

logs/soren*log

# CMakes
